.fondo {
    background-color: #294374;
    color: var(--light);
    overflow-x: hidden;
    font-family: "gothic";
  }
  #section1{  
    margin-top: 100px;
    margin-bottom: 25px;
  }
  #logocidu{ 
    margin-bottom: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 265px;
    height: 115px;
  }
  #col1{
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
#titulo{
    margin-bottom: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  #h1{
    font-family: "gothicb";
    font-size: 40px;
  }