.fondo {
    background-color: #294374;
    color: var(--light);
    overflow-x: hidden;
    font-family: "gothic";
  }
  #titulo{
    margin-bottom: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  #h1{
    font-family: "gothicb";
    font-size: 40px;
  }
  #section1{  
    margin-top: 100px;
    margin-bottom: 25px;
  }
  #logocidu{ 
    margin-bottom: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 265px;
    height: 115px;
  }
  #col1{
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .horizontal-scrollable > .table {
    overflow-x: auto;
    overflow-y: scroll; 
    white-space: nowrap;
    display: inline-block;
    float: none;
    height: 550px;
    }
  .table{
    border-radius: 10px;
    background-color: #52525299;
 }
  table tr th {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
  .container-fluid{
    display: flex;
    justify-content: center;
  }
  .boton{
    background: #334f91;
    color: #ffffff;
    font-weight: 500;
    width: 70px;
    height: 70px;
    border: none;
    cursor: pointer;
    transition: .9s ease all;
    border-bottom: 5px solid #294374;
    border-radius: 12px;
    margin-bottom: 10px;
}
.boton:hover{
  background: #294374;
}
 .sorting {
    background-color: #D4D4D4;
 }
 .asc:after {
    content: ' ↑';
 }
 .desc:after {
    content: " ↓";
 }
 .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #294374;
  color: white;
  }
::-webkit-scrollbar{
    width: 20px;
  }
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px #52525299;
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb{
    background: grey;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  } 