<app-navbar-principal></app-navbar-principal>
<body class="fondo">
    <section class="px-5" id="section1">
      <br>
    <div class="row align-items-center">
        <div class="col" id="col1">
            <img [src]="logo" id="logocidu" alt="...">
        </div>
    </div>
      <br>
    </section>
    <section>
      <div class="container" id="titulo">
        <p id="h1">HISTORICO DE AVALÚOS</p>
      </div>
    </section>
    <div class="container-fluid horizontal-scrollable">
            <table class="table text-white table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ESTADO</th>
                        <th scope="col">CLIENTE</th>
                        <th scope="col">MES</th>
                        <th scope="col">CÓDIGO AVALÚO</th>
                        <th scope="col">TIPO DE DOCUMENTO</th>
                        <th scope="col">NUMERO DE DOCUMENTO</th>
                        <th scope="col">NOMBRE CLIENTE</th>
                        <th scope="col">DIRECCIÓN</th>
                        <th scope="col">CONJUNTO/BARRIO</th>
                        <th scope="col">CIUDAD</th>
                        <th scope="col">CONTACTO</th>
                        <th scope="col">TEL CONTACTO</th>
                        <th scope="col">FECHA DE ASIGNACIÓN</th>
                        <th scope="col">FECHA DE AGENDAMIENTO</th>
                        <th scope="col">FECHA DE VISITA</th>
                        <th scope="col">HORA DE VISITA</th>
                        <th scope="col">VISITADOR</th>
                        <th scope="col">PAGO VISITADOR</th>
                        <th scope="col">OBSERVACIONES DE GESTIÓN</th>
                        <th scope="col">FUA</th>
                        <th scope="col">REVISIÓN FUA MERCADO</th>
                        <th scope="col">FECHA ENVÍO INFORME</th>
                        <th scope="col">VALOR DE AVALÚO</th>
                        <th scope="col">URBANO/RURAL</th>
                        <th scope="col">TIPO DE AVALÚO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>Rendón</td>
                      <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>Rendón</td>
                        <td>@twitter</td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>Rendón</td>
                        <td>@twitter</td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>Rendón</td>
                        <td>@twitter</td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>Rendón</td>
                        <td>@twitter</td>
                      </tr>
                  </tbody> 
            </table>
        </div>
</body>
<app-footer></app-footer>
