<body class="fondo">
    <div id="home">
        <div class="landing-text">
          <img src="assets/Pictures/LogoNombre.png" id="navbar-image" class="img" width="220" height="90" href="https://www.cidu.com.co/">
          <h1>BIENVENIDO A CIDUadmin</h1>
          <h2>Organizar y crear avalúos nunca había sido tan fácil.</h2>
          <br>
          <button class="boton" routerLink="/loginCIDUadmin"><span>Comenzar</span></button>
        </div>
      </div>
        <div class="padding">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <img src="assets/Pictures/appraisal-pc.jpg" alt="">
            </div>
            <div class="col-6 text-center text-white">
              <h2>La mejor aplicación para gestionar tus avalúos.</h2>
              <br>
              <p class="lead text-justify">Con esta aplicación podrás agregar, observar y verificar cualquier tipo de avalúo de la empresa CIDU S.A.S. además de brindar una interfaz comodo y viable.</p>
              <p class="lead text-justify">Cuenta con tres modulos principales los cuales son: modulo agregar nuevo avalúo, modulo geolocalización avalúo, modulo historico avalúo.</p>
            </div>
          </div>
        </div>
        </div>
        <div class="fixed">
        </div>
        <div class="padding">
          <div class="container">
            <div class="row">
              <div class="col-6 text-center text-white">
                <h2>CIDU</h2>
                <p class="lead text-justify">Está comprometida con el cumplimiento de las necesidades y expectativas de todas nuestras partes interesadas, mediante el ofrecimiento de análisis técnicos y normativos precisos y veraces.</p>
                <p class="lead text-justify">Partiendo de mecanismos de análisis técnicos, jurídicos y normativos robustos, generando así valoración de predios y activos bajo análisis económicos exactos y lineamientos normativos que se estipulan para el sector.</p>
              </div>
              <div class="col-6">
                <img src="assets/Pictures/appraisal-pc.jpg" alt="">
              </div>
            </div>
          </div>
          </div>
    <footer class="container-fluid text-center">
      <div class="row">
        <div class="col-sm-4">
            <h3>Contactanos.</h3>
            <h5>Wilmer Cristancho Rodríguez</h5>
            <h6>+57 3192262979</h6>
            <h5>Juan Felipe Rodríguez Rendón</h5>
            <h6>+57 3004830728</h6>
        </div>
        <div class="col-sm-4 mt-4">
          <h3>CIDU S.A.S.</h3>
          <a href="https://www.facebook.com/SASCIDU/" class="fa fa-facebook"></a>
          <a href="https://api.whatsapp.com/send/?phone=573014606980&text=Hola+CIDU%2C+quiero+contactarme+con+Ustedes%21&app_absent=0" class="fa fa-whatsapp"></a>
          <a href="https://www.instagram.com/sascidu/" class="fa fa-instagram"></a>
        </div>
        <div class="col-sm-4 mt-4">
          <img src="assets/Pictures/LogoNombre.png" class="icon">
        </div>
      </div>
    </footer>
  </body>